<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChessLink</title>
    <link rel="shortcut icon" href="/public/assets/favicon.ico" type="image/x-icon">
    <script src="/public/scripts/thirdparty/jquery-3.7.0.min.js"></script>
    <script src="/public/scripts/thirdparty/chessboard-1.0.0.min.js"></script>
    <script src="/public/scripts/thirdparty/chess-0.10.3.min.js"></script>

    <link rel="stylesheet" href="/public/css/chessboard.css" />
    <link rel="stylesheet" href="/public/css/board.css" />
</head>

<body>
    <div class="user-uuid">{{user_uuid}}</div>

    <div class="board-container">
        <div class="name-tag" id="opponent-moves">opponent</div>
        <div id="board" style="width: 400px"></div>
        <div class="name-tag" id="player-moves">you</div>
    </div>

    <div class="informations-container">
        <div id="table-wrapper">
            <table class="moves-list-container">
                <tbody id="table-body"></tbody>
            </table>
        </div>

        <div class="resign-game" id="resign-game">Resign game</div>
    </div>

    <script src="/public/scripts/board.events.js"></script>
    <script src="/public/scripts/web/wss.js"></script>
</body>

</html>