<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>ChessLink</title>
    <link rel="shortcut icon" href="/public/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <h1 class="displayed-title"><span>{{code}}</span></h1>
    <p class="displayed-subtitle" style="font-size: 20px;">{{error}}</p>

    <div class="buttons-container">
        <a href="/" class="button-matchmaking button-default" style="text-decoration: none; color: #5f3900;">
            <div>
                back
            </div>
        </a>
    </div>
</body>

</html>