<script src="/public/script/libraries/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="/public/css/chessboard.css" />
<link rel="stylesheet" href="/public/css/index.css" />
<script src="/public/script/libraries/chessboard-1.0.0.min.js"></script>
<script src="/public/script/libraries/chess-0.10.3.min.js"></script>

<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">

<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>ChessLink</title>

<script src="/socket.io/socket.io.js"></script>
<script>let socket = io();</script>